<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
  <title>EO4Alps Snow browser</title>
  <link rel="stylesheet" href="static/e04.css">
</head>
<body>
  <header id="header">
       <!-- <a href="//eurodatacube.com"><img src="static/EuroDataCube_logo.svg" alt="Euro Data Cube logo" style="height:50px;"/></a> -->
      <h3 style="margin: 0;">
          <img src="static/snow_white.svg" alt="Snow icon" style="height:36px;"/>
          <b><a style="color:white;" href="https://www.waterjade.com/eo4alps-snow/" target="_blank">j-SNOW</a>
          by 
          <a style="color:white;" href="https://www.waterjade.com/" target="_blank">waterjade®</a></b>
      </h3>
        <!--
      <a href="https://www.esa.int"><img src="static/esalogo_white.svg" alt="European Space Agency logo" style="height:48px;"/></a>
      <a href="https://www.waterjade.com/en/mobygis-en"><img src="static/mobygis_white.svg" alt="MobyGIS logo" style="height:50px;"/></a>
      <a href="https://www.sinergise.com"><img src="static/SinergiseLogo_white.svg" alt="Sinergise logo" style="height:48px;"/></a>
      <!--<a href="https://www.eurac.edu"><img src="static/eurac-logo_white.svg" alt="Eurac research logo" style="height:42px;"/></a> -->
<!--      <a href="./instances"></a>-->
<!--      <h4 style="margin: 0;"><a style="color:white;text-decoration: none;" href="./instances">&rarr; SELECT YOUR INSTANCE</a></h3>-->
  </header>
  
  {%- for dataset, layers in datasets_and_layers %}
  
      {%- if dataset.legend %}
      
        <img class="legend" id="{{ dataset.id }}-visible-legend" src="static/{{ dataset.id }}-visible-legend.png" {%- if not dataset.visible %} style="display: none" {%- endif %} />

      {%- endif %}
  
  {%- endfor %}
  
  <div id="app"></div>
  
  <script src="static/code-de.bundle.js"></script>
  
  <script
  src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
  integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
  crossorigin="anonymous"></script>
  
<script>
      
      // HORRIBLE CODE to show swe / snowdepth legend, and simulate exclusivness between them 
      
var timeLimits = {};

function hideByClass(classes) {
    var ele = document.getElementsByClassName(classes);
    for (var i = 0; i < ele.length; ++i) {
        var item = ele[i];  
        item.style.display = 'none'; 
    }
}

function format_date(t) {
    m = new Date(t);
    // console.log(m);
    var dateString =
    m.getUTCFullYear() + "-" +
    ("0" + (m.getUTCMonth()+1)).slice(-2) + "-" +
    ("0" + m.getUTCDate()).slice(-2);

    return dateString;
}

      
function addit_config() {
    
    addLayerChange();
    
    // hide button filter
    hideByClass("btn btn-default btn-sm tool tool-show-time")
    hideByClass("btn btn-default tool tool-point");
    hideByClass("form-control input-sm datetime end");
    hideByClass("col-sm-4 control-label");
    
    $('#timeSlider').css('z-index', '-1');
    
    var ele = document.getElementsByClassName("col-sm-4 control-label");
    for (var i = 0; i < ele.length; ++i) {
        var item = ele[i];  
        item.text = 'Date'; 
    }
    
    
    // hide timeslider
    var ele = document.getElementById("timeSlider");    
    ele.style.display = 'none'; 
    //console.log(ele);  
    
    first_available_date = new Date();
    
    // check layer for date    
    for (let i = 0; i < config.layers.length; i++) {
        //console.log(config.layers[i]);
        var addit_data = config.layers[i].addit_data;
        //console.log(addit_data);
        if (!addit_data.hasOwnProperty('data'))
            continue; 
            
        var c_id = config.layers[i].display.id;
        //console.log(addit_data.data.additionalData);
        
        timeLimits[c_id] = {
            'from': Date.parse(addit_data.data.additionalData.fromSensingTime), 
            'to':  Date.parse(addit_data.data.additionalData.toSensingTime)
        }
        
        if (timeLimits[c_id].to < first_available_date)
            first_available_date = timeLimits[c_id].to;
    }    
    
    console.log(timeLimits);
    
    setTimeout(selectDate, 500, first_available_date);
}

function selectDate(first_available_date) {
        
    //console.log(timeLimits);
    //first_available_date = new Date(first_available_date.setUTCDate(today.getUTCDate() - 28));
    // console.log(first_available_date);
    
    // go to first date with available data
    var ele = document.getElementsByClassName("datetime");
    for (var i = 0; i < ele.length; ++i) {
        var item = ele[i];  
        // console.log(first_available_date);
        item.value = format_date(first_available_date); 
        // console.log(item);
        item.dispatchEvent(new Event("dp"));
        item.click();
    }

    $('ul.navbar-right li:first-child').each(function( index ) {
  console.log( index + ": " + $( this ).text() );
  $( this ).click();
  
});
    
    $('.datetime').click();
}

function put_span_child_color(ele, color) {
        var nodes = ele.childNodes;
        for(var j=0; j<nodes.length; j++) {
            if (nodes[j].nodeName.toLowerCase() == 'span') {
                nodes[j].style.color = color;
            }
        }
    }

// called from code-de.bundle.js
function dateChanged(date) {
    var selected = new Date(date);
    console.log("ciao");
    // console.log(selected.getTime());
    // console.log(timeLimits);
    
    var dts = Object.keys(timeLimits);
    
    for (let i = 0; i < dts.length; i++) {
        var dt = dts[i];        
        
        var ele = document.getElementById("layer-item-" + dt);
        var layer = document.getElementById(dt + "-visible");
        
        // console.log(dt);
        
        // console.log(selected > timeLimits[dt].from);
        // console.log(selected < timeLimits[dt].to);
        
        if (selected >= timeLimits[dt].from && selected <= timeLimits[dt].to) {
            //console.log("into");
            // remove disable
            // remove color red
            put_span_child_color(ele, '');
            layer.disabled = false;
            continue;
        }
        
        //console.log("outo");
        // put color red
        put_span_child_color(ele, 'red');                
        // if layer checked, disable it
        if (layer.checked) layer.click();        
        // put disable
        layer.disabled = true;
    }
    
}
   
      
function toggleLegend(layer) {
        
    var legend = layer.id + "-legend";
    var el = document.getElementById(legend);
    
    if (el === null) return;
    
    if (layer.checked) {
        el.style.display = 'block';
    } else {
        el.style.display = 'none';
    }    
    
    //console.log(el);
}

function disableLayer(layer) {
    var el = document.getElementById(layer);   
    el.click();
}

const exclus = [{%- for dataset, layers in datasets_and_layers %}{%- if dataset.exclusive %}{% if not loop.first %},{% endif %}"{{dataset.id}}-visible"{%- endif %}{%- endfor %}];

// if this is checked, and also the other is checked, disable the other
function checker(layer) {   
    // console.log( layer.checked);
    if (!layer.checked) return;
    
    for (var i = 0; i < exclus.length; ++i) {
        var other = exclus[i];  
        if (other == layer.id) continue;
 
        var oth_layer = document.getElementById(other);   
        //console.log( oth_layer.checked);
        if (!oth_layer.checked) continue;
        
        //console.log("need to disable " + other);
        setTimeout(disableLayer, 10, other);
    }
}
      
function layerChanged() {
    //console.log(this.id);
    //console.log(this.checked);
    
    toggleLegend(this);
    
    var idx = String(this.id);
    //console.log(idx);
    
    if (exclus.indexOf(idx) >= 0) {
        checker(this);
    }     
        
}
      
function addLayerChange() {      
    
    //console.log("addLayerChange");
      
    var ele = document.getElementsByClassName('layer-visible');
    for (var i = 0; i < ele.length; ++i) {
        var item = ele[i];  
        
        //console.log(item);

        item.addEventListener(
         'change',
         layerChanged,
         false
      );
    }
}


  </script>  
  
  <script>
  var today = new Date();
  today.setUTCHours(24, 0, 0, 0);
  
      var displayTimeDomainEnd = new Date(new Date(today));
      var displayTimeDomainStart = new Date(new Date(today).setUTCDate(today.getUTCDate() - 28));
  var selectedTimeDomainStart = new Date(new Date(today).setUTCDate(today.getUTCDate() - 7));
  var selectedTimeDomainEnd = new Date(new Date(today).setUTCDate(today.getUTCDate() - 2));

  var whereAmI = "//" + window.location.hostname + ":" + window.location.port + "/";
  {%- if instance_id %}
  whereAmI += '{{instance_id}}';
  {%- endif %}
  var config = {
    "settings": {
        "tutorial": "once",
        "uploadEnabled": true,
        "downloadEnabled": false,
        "searchEnabled": true,
        "language": "en",
        "timeDomain": [
            "2014-04-03T00:00:00Z",
            today.toISOString()
        ],
        "constrainTimeDomain": true,
        "displayTimeDomain": [
            displayTimeDomainStart,
            displayTimeDomainEnd,
        ],
        "displayInterval": "P365D",
        "selectedTimeDomain": [
            selectedTimeDomainStart,
            selectedTimeDomainEnd,
        ],
        "selectableInterval": "P7D",
        "timeSliderControls": false,
        "timeSliderAlternativeBrush": false,
        // just to trigger shared timefilter/timeslider
        "maxMapInterval": "P8D",
        "maxTooltips": 3,
        "rightPanelOpen": false,
        "leftPanelOpen": true,
        "leftPanelTabIndex": 1,
        "center": [6.8, 45.8],
        "zoom": 9,
        "maxZoom": 14,
        "filterSettings": {
            "time": {
                "hidden": false,
            }
        },
        // "downloadProjections": [{
        //          "name": "LAEA",
        //          "identifier": "EPSG:3035"
        //        },{
        //          "name": "Google Mercator",
        //          "identifier": "EPSG:3857"
        //        }],
    },
    "baseLayers": [
        {
            "id": "terrain",
            "displayName": "EOX Terrain",
            "display": {
                "id": "terrain",
                "visible": true,
                "protocol": "WMTS",
                "urls": [
                    "//a.s2maps-tiles.eu/wmts/",
                    "//b.s2maps-tiles.eu/wmts/",
                    "//c.s2maps-tiles.eu/wmts/",
                    "//d.s2maps-tiles.eu/wmts/",
                    "//e.s2maps-tiles.eu/wmts/"
                ],
                "matrixSet": "WGS84",
                "format": "image/png",
                "projection": "EPSG:4326",
                "style": "default",
                "attribution": "Terrain-Light { Data &copy; <a href=\"//www.openstreetmap.org/copyright\" target=\"_blank\">OpenStreetMap</a> contributors and <a href='javascript:;' onClick='toggle(terrain_attribution)'>others</a>, Rendering &copy; <a href=\"//eox.at\" target=\"_blank\">EOX</a> }"
            }
        }, {
            "id": "s2cloudless",
            "displayName": "EOX Sentinel-2 cloudless",
            "display": {
                "id": "s2cloudless",
                "visible": false,
                "protocol": "WMTS",
                "urls": [
                    "//a.s2maps-tiles.eu/wmts/",
                    "//b.s2maps-tiles.eu/wmts/",
                    "//c.s2maps-tiles.eu/wmts/",
                    "//d.s2maps-tiles.eu/wmts/",
                    "//e.s2maps-tiles.eu/wmts/"
                ],
                "matrixSet": "WGS84",
                "format": "image/png",
                "projection": "EPSG:4326",
                "style": "default",
                "attribution": "<a xmlns:dct=\"//purl.org/dc/terms/\" href=\"//s2maps.eu\" property=\"dct:title\">Sentinel-2 cloudless - //s2maps.eu</a> by <a xmlns:cc=\"//creativecommons.org/ns#\" href=\"//eox.at\" property=\"cc:attributionName\" rel=\"cc:attributionURL\">EOX IT Services GmbH</a> (Contains modified Copernicus Sentinel data 2016 &amp; 2017)"
            }
        }
    ],
    "layers": [
    {%- for dataset, layers in datasets_and_layers %}
        {%- if dataset.id != 'DEM'  %}

        {
          "id": "{{dataset.id}}",
          "displayName": "{{dataset.title}}",
          "displayColor": "#56EC00",
          "addit_data":  {{dataset.addit_data | safe }},
          "display": {
              //default layer
              "id": "{{dataset.id}}",
              "visible": {{dataset.visible}},
              "protocol": "WMS",
              "format": "image/png",
              {%- if dataset.timeextent %}
              "timeRecords" : {
                "start": new Date("{{dataset.timeextent.0}}"),
                "end": today,
              },
              {%- endif %}
              "projection": "EPSG:4326",
              "urls": [
                whereAmI
              ],
              "extraDownloadIcon": {{dataset.extraDownloadIcon}},
              // "legendUrl": true,
              "reportDownloadIcon": {{dataset.reportDownloadIcon}},
              "useMilliseconds": false,
              "tileSize": 512,
              "discardZulu": true,
              "version": "1.3.0",
              "opacity": 0.8,
              "minZoom": 4,
              "options": [

            ],
          },
          "fullResolution": {
              "protocol": "WCS",
              "id": "{{dataset.id}}",
              "url": whereAmI,
              "maxSizeWarning": 1000000, // total size of product in MB
              "maxBboxEdgeSize": 0.5,
              "maxAllowedResolution": 0.002261, // ~250m in degrees on equator
              "disableTimeSubsetting": true,
              "axisNames": [
                  'long',
                  'lat'
              ],
              "fields": [
              {%- for band in dataset.bands %}
                {"identifier": "{{band}}"},
              {%- endfor %}
              ],
              "interpolations": [
                  {
                    "name": "Nearest",
                    "identifier": "http://www.opengis.net/def/interpolation/OGC/1/nearest-neighbour"
                  },
                  {
                    "name": "Bilinear",
                    "identifier": "http://www.opengis.net/def/interpolation/OGC/1/bilinear"
                  },
                  {
                    "name": "Bicubic",
                    "identifier": "http://www.opengis.net/def/interpolation/OGC/1/bicubic"
                  }
              ]
          },
      },
      {%- endif %}
    {%- endfor %}
    ],
    "overlayLayers": [
        {
            "id": "coastline",
            "displayName": "EOX Coastline",
            "display": {
                "id": "coastline",
                "visible": false,
                "protocol": "WMTS",
                "urls": [
                    "//a.tiles.maps.eox.at/wmts/",
                    "//b.tiles.maps.eox.at/wmts/",
                    "//c.tiles.maps.eox.at/wmts/",
                    "//d.tiles.maps.eox.at/wmts/",
                    "//e.tiles.maps.eox.at/wmts/"
                ],
                "matrixSet": "WGS84",
                "style": "default",
                "format": "image/png",
                "attribution": "Overlay { Data &copy; <a href=\"//www.openstreetmap.org/copyright\" target=\"_blank\">OpenStreetMap</a> contributors, Rendering &copy; <a href=\"//eox.at\" target=\"_blank\">EOX</a> and <a href=\"//github.com/mapserver/basemaps\" target=\"_blank\">MapServer</a> }"
            }
        },
        {
            "id": "overlay_base",
            "displayName": "EOX Borders and Labels",
            "display": {
                "id": "overlay_base",
                "visible": true,
                "protocol": "WMTS",
                "urls": [
                    "//a.tiles.maps.eox.at/wmts/",
                    "//b.tiles.maps.eox.at/wmts/",
                    "//c.tiles.maps.eox.at/wmts/",
                    "//d.tiles.maps.eox.at/wmts/",
                    "//e.tiles.maps.eox.at/wmts/"
                ],
                "matrixSet": "WGS84",
                "style": "default",
                "format": "image/png",
                "projection": "EPSG:4326",
                "attribution": "Overlay { Data &copy; <a href=\"//www.openstreetmap.org/copyright\" target=\"_blank\">OpenStreetMap</a> contributors, Rendering &copy; <a href=\"//eox.at\" target=\"_blank\">EOX</a> and <a href=\"//github.com/mapserver/basemaps\" target=\"_blank\">MapServer</a> }"
            }
        }
    ]
};
    var app = new Application({
      config: config,
      container: document.getElementById('app'),
    });
    app.start();
    
    addit_config();
  </script>
  

</body>
</html>
